logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
node_modules/
.npm
.eslintcache
.node_repl_history
*.tgz
.env
.env.test
.cache
spec/.cache
spec/*.o
.next
*.wast
*.wabt

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
